name: Build Docker Image

on:
  push:
    branches: [main]
  
env:
  IMAGE_NAME: chameldst/agrivision

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ env.IMAGE_NAME }}:latest
          ${{ env.IMAGE_NAME }}:${{ github.sha }}
    
    - name: Build and push HF image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile.hf
        push: true
        tags: ${{ env.IMAGE_NAME }}:hf-latest